@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    /* 10px / 16px = 0.625 = 62.5% */
    font-size: 62.5%;
}

body {
    background-color: #656C73;
}

#game-container {
    background-color: #fff;
    padding: 3rem;
    border-radius: 2.4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
}

@media screen and (max-width: 880px) {
    
    #game-container {
        width: 75%;
    }

}

#game-heading {
    font-size: 3.6rem;
    font-weight: bold;
    text-align: center;
    margin-top: 3rem;
    color: #333;
}

#game-instructions {
    font-size: 2rem;
    font-weight: 700;
    color: #333;
}

#question-area {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 100%;
    height: 15rem;
    font-size: 7.2rem;
    color: #333;
}

#operand1, #operand2 {
    margin: 0 1rem;
}

#operator {
    margin: 0 2rem;
}

#answer-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
}

#answer-input {
    text-align: center;
    width: 25rem;
    height: 5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #BEBEBE;
    font-size: 2.4rem;
    padding: 0 1rem;
    text-align: center;
    color: #000;
}

#answer-input:focus {
    outline: none;
    border: 0.2rem solid #333;
}

.btn {
    width: 15rem;
    height: 5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #0077ff;
    color: #fff;
    font-size: 1.8rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#start-game-btn {
    background-color: #0077ff;
}

#start-game-btn:hover {
    background-color: #005ad1;
}

#check-answer-btn {
    display: none;
    background-color: #333;
}

#check-answer-btn:hover {
    background-color: #222;
}

#reset-btn {
    display: none;
    background-color: #333;
}

#reset-btn:hover {
    background-color: #222;
}

#timer-area, #score-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    background-color: #0077ff;
    padding: 1rem 2rem;
    color: #fff;
    font-size: 2rem;
}

#timer {
    font-weight: 700;
}